*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build/
.idea/markdown-navigator-enh.xml
.idea/markdown-navigator.xml
app/src/main/java/com/example/physics2d/TestVis1.java
app/src/main/java/com/example/physics2d/TestVis2.java
