<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruslocker.physics2d">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ruslocker.physics2d.CustomGame"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.ruslocker.physics2d.About"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.ruslocker.physics2d.SimulationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.ruslocker.physics2d.EndGameScreen"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.ruslocker.physics2d.MainMenu"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ruslocker.physics2d.AirHockey"
            android:screenOrientation="landscape" />
    </application>

</manifest>